.tableContainer{
    width: 80%;
    margin: 10px;
    border: 1px solid white;
    position: relative;
}

.test{
    opacity:1 !important;
    border-radius: 0 !important;
    transform: rotate(90deg) !important;
    border: 2px solid white;
}

#imageContainer{
    position: absolute;
    width: 100%;
    top: 60px;
    height: calc(100% - 60px);
    background-color: black;
    z-index: -4;
    background-size:  100% 100%;
}

.fa-check-square{
    color: green;
}

.selectImage{
    color: white;
    font-size: 25px;
}